body{
    margin: 0;
    background-color: #cccccc;
    
}
.black_navbar{
    list-style-type:none;
    overflow: hidden;
    background-color: #131313;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%
}
li{
    float: left;
    display:inline;    
    color:	#cccccc;
    padding: .80%;
    text-align: center;
    font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
    font-size: small;
    font-weight: bold;
}
.content_box{
    background-color: white;
    font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    height: 80%;
    border: 10% solid #cccccc;
    box-shadow: auto #cccccc;
    color: #272727;
}
.heading_part{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.rem_steve{
    text-align: center;
    font-size: 48px;
}
.rem_steve2{
    font-size: 13.5px;
    text-align: center;
}
a{
    color: #2986aa;
}
hr{
    width: 80%;
    color: aliceblue;
    
}
.tributes{
    padding-left: 26%;
    padding-right: 26%;
}
h4{
    font-size: small;
}
.said_tribute{
    font-size: 14px;
}
.tribute_author{
    font-size: 12px;
    color: #cccccc;
}


























